<book class="book__component">
  <section class="book__info">
    <div class="book__info_top">
      <div class="book__info_top_book-img"></div>
      <div class="book__info_top_right">
        <h3>{{ book?.title }}</h3>
        <p class="author">{{ book?.author }}</p>
        <span
          >Издание: {{ book?.publisher }},
          {{ book?.date | date : "dd-MM-yyyy" }}</span
        >
        <p>Стиль: {{ book?.style }}</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem facere dolore voluptas autem assumenda debitis,
          reprehenderit incidunt mollitia ab accusantium quam, magni vitae.
          Minus fugit veritatis veniam error sed sunt! Lorem ipsum, dolor sit
          amet consectetur adipisicing elit. Ipsam fuga eveniet dolor modi quo
        </p>
        <div class="book__info_top_right_buttons">
          <button class="btn_available"><span>ДОСТУПНА</span></button>
          <app-favorite-button
            (click)="addFavorite()"
            [bookId]="id || 0"
          ></app-favorite-button>
        </div>
      </div>
    </div>
  </section>
  <section class="book__same-books" *ngIf="sameBooks?.length">
    <app-books-preview-row
      [title]="'Похожее'"
      [books]="sameBooks || []"
    ></app-books-preview-row>
  </section>
</book>
