.book-search__form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-width: 450px;
  border-bottom: 1px solid rgba(105, 103, 100, 0.59);
  padding-bottom: 5px;
  font-family: montserrat;
  gap: 30px;
  border-radius: 8px;
  padding: 13px;
  border: 1px solid rgba(49, 51, 136, 0.79);
  position: relative;
}
.book-search__form_button {
  width: 18px;
  height: 18px;
  background: url("../../../../assets/image/search.svg") center center no-repeat;
  background-size: cover;
}

.book-search__form_input {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.85);
  width: 80%;
}
.book-search__form_input::placeholder {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.45);
}

.book-search__results {
  position: absolute;
  top: 80px;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow-y: scroll;
  height: calc(100vh - 80px);
  width: 100%;
  background: rgba(49, 51, 136, 0.35);
  backdrop-filter: blur(5px);
  gap: 80px;
  padding: 50px 50px;
}

.book-search__results::-webkit-scrollbar {
  width: 6px; /* Ширина полосы прокрутки */
}
.book-search__results::-webkit-scrollbar-thumb {
  background-color: #3498db9a; /* Цвет "ползунка" полосы прокрутки */
  border-radius: 5px; /* Радиус закругления "ползунка" */
}

.book-search__results::-webkit-scrollbar-track {
  background-color: #f1f1f133; /* Цвет фона полосы прокрутки */
}
