<a routerLink="/book/:{{ book.id }}">
  <div class="book">
    <div class="book_img"></div>
    <p class="book_title">{{ book.title }}</p>
    <p class="book_author">
      {{ book.author }}
    </p>
    <p class="book_publisher">
      {{ book.publisher }}
    </p>
    <div class="btns_wrapper">
      <button class="btn_available"><span>ДОСТУПНА</span></button>
      <button class="btn_add-favorite">
        <svg
          [ngClass]="{ aded: isAded }"
          width="38"
          height="39"
          viewBox="0 0 38 39"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="akar-icons:heart">
            <g id="Group">
              <path
                id="Vector"
                d="M11.0833 5.61914C6.71174 5.61914 3.16666 9.12781 3.16666 13.4566C3.16666 16.9511 4.55207 25.2446 18.1893 33.6283C18.4336 33.7769 18.714 33.8556 19 33.8556C19.2859 33.8556 19.5664 33.7769 19.8107 33.6283C33.4479 25.2446 34.8333 16.9511 34.8333 13.4566C34.8333 9.12781 31.2882 5.61914 26.9167 5.61914C22.5451 5.61914 19 10.3691 19 10.3691C19 10.3691 15.4549 5.61914 11.0833 5.61914Z"
                stroke="#5D5FEF"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
          </g>
        </svg>
      </button>
    </div>
  </div>
</a>
