<div class="about">
  <div class="wrapper">
    <div class="leftSide">
      <h1>
        {{ "ОТКРОЙТЕ МИР КНИГ, ГДЕ ВЫБОР - ВАШЕ ПРАВО" | uppercase }}
      </h1>
      <p>
        Здесь живет ваша страсть к чтению. Books App — это место, где миллионы
        людей ищут, обсуждают и выбирают книги различных жанров и направлений.
        Это ваш персональный книжный рынок для общения с миром литературы.
      </p>
    </div>
    <div class="rightSide">
      <img src="../../../../assets/image/about_heroS.svg" alt="" />
    </div>
  </div>

  <div class="our_results">
    <div class="our_results_wrapper">
      <h2>Наши показатели</h2>
      <div class="info">
        <ul>
          <li class="info_item active_users">
            <div class="info_item_wrapper">
              <h3><b>150</b> млн</h3>
              <span>Активных пользователей за месяц</span>
            </div>
          </li>
          <li class="info_item books">
            <div class="info_item_wrapper">
              <h3><b>10</b> млн</h3>
              <span>Книг в нашей библиотеке</span>
            </div>
          </li>
          <li class="info_item new_books">
            <div class="info_item_wrapper">
              <h3><b>1</b> млн</h3>
              <span>Новых посутплений за месяц</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="enjoy_us">
    <div class="enjoy_us_wrapper">
      <h3>Присоединяйтесь к компании <b>Books App</b></h3>
      <span
        >Вливайтесь в группу азартных людей, со всем азартом работающих над
        выдающимися продуктами для еще большего азарта. Мы также с азартом
        относимся к здоровью и безопасности, так что вы будете работать со
        своего дивана, пока наши офисы закрыты.</span
      >
      <a target="_blank" href="https://t.me/BooksCompany">Вакансии</a>
    </div>
  </div>
</div>
