<div class="login">
  <form [formGroup]="loginForm" class="login__form" (ngSubmit)="login()">
    <h2>Авторизация</h2>
    <div class="login__form_fields">
      <input
        formControlName="username"
        name="username"
        type="text"
        placeholder="Логин или email"
      />
      <input
        formControlName="password"
        name="password"
        type="password"
        placeholder="Пароль"
      />
    </div>
    <div class="login__form_bottom">
      <button
        type="submit"
        class="login__form_button"
        [disabled]="!loginForm.valid"
      >
        Войти
      </button>

      <div class="login__form_bottom_bottom-wrapper">
        <span class="login__form_no-account"
          >Нет аккаунта? <a routerLink="/register">Регистрация</a></span
        >
        <label class="login__form_bottom_rememberMe-wrapper">
          Запомнить меня
          <input
            formControlName="rememberMe"
            name="rememberMe"
            type="checkbox"
            onChange="(handleRememberMeChange)"
          />
        </label>
      </div>
    </div>
  </form>
</div>
