<div class="login">
  <form class="login__form" (ngSubmit)="login()">
    <h2>Авторизация</h2>
    <div class="login__form_fields">
      <input
        [(ngModel)]="username"
        name="username"
        type="text"
        placeholder="Логин или email"
      />
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="Пароль"
      />
    </div>
    <div class="login__form_bottom">
      <button type="submit" class="login__form_button">Войти</button>

      <div class="login__form_bottom_bottom-wrapper">
        <span class="login__form_no-account"
          >Нет аккаунта? <a routerLink="/register">Регистрация</a></span
        >
        <label class="login__form_bottom_rememberMe-wrapper">
          Запомнить меня
          <input
            [(ngModel)]="rememberMe"
            name="rememberMe"
            type="checkbox"
            checked="{rememberMe}"
            onChange="{handleRememberMeChange}"
          />
        </label>
      </div>
    </div>
  </form>
</div>
