<div class="book-search">
  <form action="" class="book-search__form">
    <button class="book-search__form_button"></button>
    <input
      [(ngModel)]="query"
      [ngModelOptions]="{ standalone: true }"
      (focusout)="onBlur()"
      (ngModelChange)="onInput()"
      class="book-search__form_input"
      type="text"
      placeholder="Поиск"
    />
  </form>
  <div class="book-search__results" *ngIf="books.length > 0">
    <div class="results_item" *ngFor="let book of books">
      <a routerLink="/book/:{{ book.id }}"
        ><app-book-card [book]="book"></app-book-card
      ></a>
    </div>
  </div>
</div>
