.modal__change-reader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(49, 51, 136, 0.41);
  backdrop-filter: blur(5px);
  color: var(--text-color);
}

.modal-content {
  border-radius: 12px;
  background-color: #fefefe;
  padding: 60px;
  border: 1px solid #888;
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  min-width: 800px;
  gap: 30px;
}

.modal-content h2 {
  align-self: center;
}
.modal-content form {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}
.modal-content form input {
  padding: 10px 20px;
  border: 1px solid var(--background-color);
  border-radius: 4px;
}

.form__number-adress {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.form__name,
.form__second {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form__age-male {
  display: flex;
  flex-flow: row nowrap;
  gap: 9%;
}
.form__age-male_male {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 15px;
}
.form__age-male_male label {
  font-size: 16px;
}
.radio-container {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-container label {
  position: relative;
  padding-left: 20px;
}

.radio-container label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.radio-container input:checked ~ label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--background-color);
}

.btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
}
.submit-btn {
  padding: 12px 15px;
  width: 50%;
  border-radius: 4px;
  background: var(--background-color);
  color: var(--text-color-light);
  font-size: 16px;
  border: 1x solid white;
}
.submit-btn:hover,
.close-btn:hover {
  border: 1px solid var(--background-color);
  color: var(--text-color);
  background: var(--background-color-light);
}
.close-btn {
  padding: 12px 15px;
  border-radius: 4px;
  width: 20%;
  border: 1px solid white;
  background: var(--background-color);
  font-size: 16px;
  color: var(--text-color-light);
}

.changeReader {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
}
