<div class="modal">
  <div class="modal-content">
    <h2>Информация о читателе</h2>
    <form
      [formGroup]="readerForm"
      (ngSubmit)="submitHandler()"
      class="modal-content__form"
    >
      <div class="form__name">
        <input
          type="text"
          id="firstName"
          placeholder="Имя"
          formControlName="firstName"
        />
        <input
          type="text"
          id="lastName"
          formControlName="lastName"
          placeholder="Фамилия"
        />
        <input
          type="text"
          id="middleName"
          formControlName="middleName"
          placeholder="Отчество"
        />
      </div>

      <div class="form__age-male">
        <div>
          <input
            type="number"
            id="age"
            formControlName="age"
            placeholder="Возраст"
          />
        </div>
        <div class="form__age-male_male">
          <label for="male">Пол:</label>
          <div class="radio-container">
            <input type="radio" id="male" formControlName="male" value="М" />
            <label for="male">М</label>
          </div>
          <div class="radio-container">
            <input type="radio" id="female" formControlName="male" value="Ж" />
            <label for="female">Ж</label>
          </div>
        </div>
        <div class="form__age-male_border"></div>
      </div>
      <div class="form__number-adress">
        <label for="phoneNumber">Номер телефона:</label>
        <input type="tel" id="phoneNumber" formControlName="phoneNumber" />
        <label for="adress">Адрес:</label>
        <input type="text" id="adress" formControlName="adress" />
      </div>

      <button type="submit">Сохранить</button>
    </form>
  </div>
</div>
