<div class="container">
  <button class="btn btn-logout cotainer-item" (click)="logout()">Выйти</button>
  <div
    class="delete-account cotainer-item"
    *ngIf="deleteAccountRequests?.length"
  >
    <h2>Запросы на удаление аккаунта</h2>

    <div class="delete-account_list">
      <div
        class="delete-acocunt_item"
        *ngFor="let accountDeleteRequest of deleteAccountRequests"
      >
        <div class="item_info">
          <div>
            <span>Id: {{ accountDeleteRequest.id }}</span>
          </div>
          <div>
            <span>UserId: {{ accountDeleteRequest.userId }}</span>
          </div>
        </div>

        <div class="item_btns">
          <button class="btn" (click)="acceptRequest(accountDeleteRequest.id)">
            Принять
          </button>
          <button class="btn" (click)="declineRequest(accountDeleteRequest.id)">
            Отклонить
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-wrapper cotainer-item">
    <h2>Создать библиотекаря</h2>

    <form
      [formGroup]="createLibrarianForm"
      (ngSubmit)="createLibrarian()"
      class="form__create-librarian"
    >
      <div class="form_fields">
        <input
          type="text"
          id="username"
          placeholder="username"
          formControlName="username"
        />
        <input
          type="text"
          id="email"
          formControlName="email"
          placeholder="email"
        />
        <input
          type="text"
          id="password"
          formControlName="password"
          placeholder="password"
        />
      </div>
      <button type="submit" class="btn">Создать</button>
    </form>
  </div>
</div>
