.container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  padding: 80px 10%;
  width: 100%;
  gap: 100px;
  color: var(--text-color);
  background: url("../../../../assets/image/forest-3622519_1920.jpg") 10%;
}

.delete-account {
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;
  align-items: center;
  width: 100%;
  padding: 50px;
  border-radius: 8px;
  border: 1px solid var(--background-color);
}

.cotainer-item {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(50px);
}

.delete-account h2 {
  font-size: 28px;
  font-weight: 400;
}

.delete-account_list {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  width: 100%;
}

.delete-acocunt_item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid var(--background-color);
  padding-bottom: 10px;
}

.item_info {
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
  align-items: center;
}

.item_btns {
  display: flex;
  flex-flow: row nowrap;
  gap: 30px;
  align-items: center;
}

.btn {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid var(--background-color);
  color: var(--text-color);
  font-size: 16px;
}
.btn:hover {
  background: var(--background-color);
  color: var(--text-color-light);
}

.btn-logout {
  position: absolute;
  top: 25px;
  left: 92%;
  max-width: 120px;
}

.form-wrapper {
  width: 100%;
  padding: 50px;
  border-radius: 8px;
  border: 1px solid var(--background-color);
}

.form-wrapper h2 {
  font-size: 28px;
  margin-bottom: 50px;
  font-weight: 400;
  text-align: center;
}

.form__create-librarian {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}

.form_fields {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.form_fields input {
  width: 30%;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid var(--background-color);
  border-radius: 4px;
}
.form_fields input::placeholder {
  color: var(--text-color);
  font-size: 12px;
}
