<div class="footer">
  <div class="footer__top">
    <div class="footer__logo">
      <img src="../../../../assets/image/logo-white.svg" alt="logo" />
      <div class="footer__logo_text">
        <span class="footer__logo_text_top">БИБЛИОТЕЧНАЯ</span>
        <span class="footer__logo_text_bottom">КНИЖНЫЙ МАГАЗИН</span>
      </div>
    </div>

    <div class="footer__top_section">
      <ul>
        Популярное
        <li>Программирование</li>
        <li>Книги для детей</li>
        <li>Психология</li>
        <li>бизнес</li>
      </ul>
    </div>
    <div class="footer__top_section">
      <ul>
        Информация
        <li>О магазине</li>
      </ul>
    </div>
    <div class="footer__top_section">
      <ul>
        помощь
        <li>Контакты: +38 071 339-16-26</li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom">
    <span>Все права защищены © 2003-2021 БИБЛИОТЕЧНАЯ</span>
    <span>Условия использования | Политика конфиденциальности</span>
  </div>
</div>
