<div class="modal__change-password">
  <div class="modal_content">
    <h2>Смена пароля</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="form__change-password_wrapper">
        <input
          type="password"
          id="oldPassword"
          formControlName="oldPassword"
          placeholder="Старый пароль"
        />
        <input
          type="password"
          id="newFirstPassword"
          formControlName="newFirstPassword"
          placeholder="Новый пароль"
        />
        <input
          type="password"
          id="newSecondPassword"
          formControlName="newSecondPassword"
          placeholder="Новый пароль"
        />
      </div>

      <div class="btns">
        <button type="submit" class="submit-btn">Сохранить</button>
        <button type="button" class="close-btn" (click)="closeModal()">
          Отмена
        </button>
      </div>
    </form>
  </div>
</div>
