<app-layout
  ><div class="profile">
    <section class="profile__section">
      <img src="" alt="" />

      <h3>user name</h3>

      <div>
        <div>
          <span>Email:</span><span>emailmail.ru</span><span>Adress</span
          ><span>adress</span>
        </div>
        <div>
          <span>Email:</span><span>emailmail.ru</span><span>Adress</span
          ><span>adress</span>
        </div>
      </div>

      <div class="profile__buttons">
        <button>Редактировать</button>
        <button (click)="logout()">Выход</button>
      </div>
    </section>

    <main>booklist=>></main>
  </div>
</app-layout>
