<div class="profile">
  <app-header></app-header>
  <section class="profile__section">
    <img src="" alt="" />

    <h3>user name</h3>

    <div>
      <div>
        <span>Email:</span><span>emailmail.ru</span><span>Adress</span
        ><span>adress</span>
      </div>
      <div>
        <span>Email:</span><span>emailmail.ru</span><span>Adress</span
        ><span>adress</span>
      </div>
    </div>

    <div class="profile__buttons">
      <button>Редактировать</button>
      <button (click)="logout()">Выход</button>
    </div>
  </section>

  <main>booklist=>></main>

  <app-footer></app-footer>
</div>
