.books-preview {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.books-preview__title {
  font-size: 25px;
  color: var(--text-color);
  font-weight: 900;
}

.books-preview__book-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
}
