.books-preview {
  display: flex;
  flex-flow: column nowrap;
  gap: 70px;
  align-items: center;
  width: 100%;
}

.books-preview__title {
  font-size: 50px;
  font-weight: 500;
  font-family: sans-serif;
}

.books-preview__book-wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
}
